{% extends 'base.html.twig' %}
{% block body %}
<ul>
    {% for book in books %}
        <li>
            {{ book.title }}
            <form method="post" action="{{ path('delete_book', { 'id': book.id }) }}" style="display: inline;">
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}